.contacto .image-wrapper {
  background: url('../image/contact.jpeg') center/cover no-repeat;
  height: 30vw;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .contacto .image-wrapper {
    height: 50vw;
  }
}

.contacto h2 {
  margin: 20px 0;
}

.contacto .content-wrapper {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .contacto .content-wrapper {
    display: block;
  }
}

.contacto .left-side, .contacto .right-side {
  display: inline-block;
  width: 50%;
  float: left;
  padding: 0 !important;
}

@media screen and (max-width: 500px) {
  .contacto .left-side, .contacto .right-side {
    width: 100%;
  }
}

.contacto .left-side iframe {
  width: 100%;
}

.contacto .right-side .row {
  /*margin: 20px 0;*/
  padding: 10px;
}
.contacto .right-side .noMargin {
  /*margin: 0;*/
}

.contacto .right-side textarea {
  resize: none;
}

.contacto input, .contacto textarea, .contacto button {
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .contacto input, .contacto textarea, .contacto button {
    width: 85%;
  }
}

/*.contacto button {
  text-align: center;
  width: 60%;
}

.contacto .leftAlign {
  text-align: left;
}*/

.contacto .parallax-section {
  width: 100%;
  height: 30vw;
  position: relative;
}

@media screen and (max-width: 500px) {
  .contacto .parallax-section {
    display: none;
  }
}

.contacto .parallax-content {
  width: 100%;
  height: 100%;
  background: url('../image/chicken.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  text-align: center;
}

.contacto .titles-wrapper {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contacto .titles-wrapper .title {
  color: white;
  font-size: 2.5em;
}

ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display: flex;
}
ul li{
  list-style: none;
  color:  #484848;
  font-family: arial;
  font-size: 4em;
  letter-spacing: 15px;
  animation: ani 4.4s linear infinite;
}
@keyframes ani {
  0%{
    color: #484848;
    text-shadow: none;
  }
  90%{
    color: #484848;
    text-shadow: none;
  }
  100%{
    color: #fff900;
    text-shadow: 0 0 7px #fff900,0 0 50px #ff6c00;
  }
}
ul li:nth-child(1){
  animation-delay: .2s;
}
ul li:nth-child(2){
  animation-delay: .4s;
}
ul li:nth-child(3){
  animation-delay: .8s;
}
ul li:nth-child(4){
  animation-delay: 1s;
}
ul li:nth-child(5){
  animation-delay: 1.2s;
}
ul li:nth-child(6){
  animation-delay: 1.4s;
}
ul li:nth-child(7){
  animation-delay: 1.6s;
}
ul li:nth-child(8){
  animation-delay: 1.8s;
}
ul li:nth-child(9){
  animation-delay: 2s;
}
ul li:nth-child(10){
  animation-delay: 2.2s;
}
ul li:nth-child(11){
  animation-delay: 2.4s;
}
ul li:nth-child(12){
  animation-delay: 2.6s;
}
ul li:nth-child(13){
  animation-delay: 2.8s;
}
ul li:nth-child(14){
  animation-delay: 3s;
}
ul li:nth-child(15){
  animation-delay: 3.2s;
}
ul li:nth-child(16){
  animation-delay: 3.4s;
}
ul li:nth-child(17){
  animation-delay: 3.6s;
}
ul li:nth-child(18){
  animation-delay: 3.8s;
}
ul li:nth-child(19){
  animation-delay: 4s;
}
ul li:nth-child(20){
  animation-delay: 4.2s;
}
ul li:nth-child(21){
  animation-delay: 4.4s;
}
