body {
  background-color: white;
  /*font-family: 'Alef';*/
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.cd-nav-container h3 {
  /*font-family: 'Alef' !important;*/
}

/*CLASES PARA EL HERO*/
.cd-section .index-header {
  background-color: white;
  color: white;
  background-image: url('../image/chicken.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cd-title {
  color: white;
  margin-left: 30px;
  width: 30%;
  text-align: center;
  margin: auto;
}

.cd-title-index {
  color: white;
  margin-left: 30px;
  width: 30%;
  text-align: left;
}

.btnHero {
  border-radius: 25px;
  background-color: rgb(224, 90, 91);
  color: rgb(255, 255, 255);
  border: 0 none;
  transition: all 0.3s;
  padding: 10px;
  font-size: 14px;
  margin-top: 20px;
  width: 200px;
  font-weight: bold;
}

  .btnHero:hover {
    background-color: #36374b;
    color: rgb(224, 90, 91);
  }

/*CLASES PARA EL CONTENT*/
.cd-content {
  width: 100%;
  max-width: 800px;
  margin: auto;
  line-height: 2;
}

.cd-content h1 {
  color: #36374b;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.cd-content p {
  color: #36374b;

}



/*CLASE PARA EL MENU*/
.cd-nav-trigger {
  background-color: white;
  border-radius: 50px;
}



/*CLASES PARA EL MENU DESPLEGABLE*/
/*.cd-nav li.cd-selected:first-of-type a {
    background-color: #c71c22;
}*/

.no-touch .cd-nav li:first-of-type a:hover,
.cd-nav li.cd-selected:first-of-type a {
  /* on hover or if selected - change background color*/
  background-color: #c71c22;
}
.no-touch .cd-nav li:nth-of-type(2) a:hover,
.cd-nav li.cd-selected:nth-of-type(2) a {
  /* on hover or if selected - change background color*/
  background-color: #c71c22;
}
.no-touch .cd-nav li:nth-of-type(3) a:hover,
.cd-nav li.cd-selected:nth-of-type(3) a {
  /* on hover or if selected - change background color*/
  background-color: #c71c22;
}
.no-touch .cd-nav li:nth-of-type(4) a:hover,
.cd-nav li.cd-selected:nth-of-type(4) a {
  /* on hover or if selected - change background color*/
  background-color: #c71c22;
}
.no-touch .cd-nav li:nth-of-type(5) a:hover,
.cd-nav li.cd-selected:nth-of-type(5) a {
  /* on hover or if selected - change background color*/
  background-color: #c71c22;
}
.no-touch .cd-nav li:nth-of-type(6) a:hover,
.cd-nav li.cd-selected:nth-of-type(6) a {
  /* on hover or if selected - change background color*/
  background-color: #c71c22;
}

/*.cd-nav li.cd-selected:first-of-type a:hover {
    background-color: #36374b;
}

.cd-nav li.cd-selected:active a {
  background-color: #c71c22;
}*/

.icons {
  color: #5c4b51;
  font-size: 4em;
  transition: all 0.3s;
}

.no-touch .cd-nav li a:hover .icons {
  /* on hover or if selected - change text and icon color*/
  color: #ffffff;
}
/*CLASES PARA EL PARALLAX*/
.parallax-section {
  width: 100%;
  height: 30vw;
}

.parallax-content {
  width: 100%;
  height: 100%;
  background-image: url('../image/chicken2.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  text-align: center;
}

.titles-wrapper {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.titles-wrapper .title {
  color: white;
  font-size: 2.5em;
}

/*CLASES PARA LOS BENEFICIOS*/
.benefits {
  background-color: white;
  text-align: center;
}

.benefits-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.benefits-wrapper {
  width: 100%;
}

.benefits-title-wrapper {
  padding: 15px;
  text-align: center;
  font-size: 1.5em;
  color: #c71c22;
  margin: auto;
  width: 100%;
}

.benefits-section {
  padding: 10px;
  text-align: center;
  width: 32.33%;
  display: inline-block;
}


/*CLASES PARA LAS PRESENTACIONES*/
.presentation {
  background-image: url('../image/madera.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.presentation .cd-content {
  background-color: transparent;
}

.benefits-divided {
  width: 100%;
  padding: 20px;
  height: 100%;
  display: flex;
}

.left-side, .right-side {
  display: inline-block;
  float: left;
  width: 50%;
}

.benefits-image {
  width: 100%;
  height: 100%;
}

.benefits-p {
  text-align: center;
  color: white !important;
}

.benefit-content {
  margin: auto;
  text-align: left;
  padding: 20px;
  width: 80%;
}

.benefit-content h1 {
  color: #36374b;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
}

.benefit-content p {
  width: 90%;
  max-width: 800px;
  margin: 2em 0;
  line-height: 2;
  color: #78626a;
}

.alt-image {
  padding: 50px;
}

/*CLASES PARA EL FOOTER*/
/*.footer {
  color: rgb(224, 90, 91);
  background-color: white;
}

.links-wrapper {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.border {
  border-right: 1px solid rgb(224, 90, 91);
}


.link {
  color: rgb(224, 90, 91);
  transition: all 0.3s;
  padding: 5px;
  line-height: 20px;
  margin: 5px 0;
}

.link:hover {
  color: #c71c22;
  font-weight: bold;
  transform: scale(1.3);
}

.social-net {
  font-size: 2em;
}

.social-net:hover {
  transform: scale(1.5);
}


.all-wrapper {
  display: block;
  width: 100%;
  padding: 15px;
}

.logo-wrapper, .address-wrapper, .social-wrapper {
  display: inline-block;
  float: left;
}

.logo-wrapper, .address-wrapper {
  width: 30%;
}

.social-wrapper {
  width: 40%;
}

.address-wrapper, .social-wrapper {
  padding: 30px 0;
}

.address-wrapper h1{
  color: #36374b;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
}

.address-wrapper p, i {
  color:
}

.social-wrapper {

}*/

img {
  max-width: 100%;
}

.caption {
  position: absolute;
  top: 50%;
  left: 8rem;
  z-index: 9;
  transform: translateY(-50%);
  opacity: 0;
  transition: 500ms ease opacity, 500ms ease transform;
  transform: translateY(60px);
}
.caption.current-caption {
  transition-delay: 1000ms;
  opacity: 1;
  transform: translateY(0);
}
.caption.previous-caption {
  transform: translateY(-60px);
}
.caption .caption-heading {
  transition: 500ms ease-in all;
}
.caption .caption-heading h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  text-indent: -0.2rem;
  letter-spacing: .2rem;
  font-weight: 300;
}
.caption .caption-subhead {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  word-spacing: .1rem;
  margin-bottom: 2.5rem;
  display: block;
}
.caption a.btn {
  color: #333;
  font-size: 0.8rem;
  text-decoration: none;
  background-color: white;
  padding: .5rem 1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  position: relative;
  z-index: 9;
  transition: 250ms ease-in background-color, 500ms ease-in color;
}
.caption a.btn:hover {
  background-color: black;
  color: white;
}

.container {
  width: 100%;
  /*height: 100vh;*/
  background-color: #2C302E;
  /*display: flex;*/
  position: relative;
}

.left-col, .right-col {
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - 4rem);
  overflow: hidden;
}

.left-col {
  background-size: cover;
  background-postion: center top;
  overflow: hidden;
  margin: 2rem;
  position: relative;
}
.left-col .slide {
  filter: grayscale(100%);
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: left top !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 1000ms cubic-bezier(1, 0.04, 0.355, 1) transform, 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55) clip-path;
  transform: translateY(-100%);
  scale: 1;
  z-index: -1;
}
.left-col .slide.previous {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
  animation-delay: 1s;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: 3s ease transform;
  will-change: transform;
}
.left-col .slide.previous.change {
  transform: translateY(50%);
}
.left-col .slide.next {
  transform: translateY(-100%);
  z-index: 3;
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.left-col .slide.current {
  opacity: 1;
  transform: translateY(0) scale(1.25);
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.right-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-col .preview {
  max-width: 400px;
}

.nav {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  overflow: hidden;
}
.nav a {
  color: #fafafa;
  font-size: 3rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.nav:hover .slide-up, .nav:hover .slide-down {
  opacity: .5;
  transform: translateX(0);
}
.nav .slide-up, .nav .slide-down {
  display: block;
  position: absolute;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  transition: .25s ease opacity,.25s ease transform;
  z-index: 99;
}
.nav .slide-up:hover, .nav .slide-down:hover {
  opacity: 1;
}
.nav .slide-up a, .nav .slide-down a {
  text-decoration: none;
  font-weight: 300 !important;
}
.nav .slide-up {
  top: 50%;
  left: 0;
  transform: translateX(-100%);
}
.nav .slide-down {
  top: 50%;
  right: 0;
  transform: translateX(100%);
}

.top-margin {
  margin-top: 20px;
}

.carousel-caption h5, .carousel-caption p {
  color: white !important;
}
